$:.unshift(File.expand_path("../", __FILE__))
require "<%= underscored_name %>/version"
require "rainbow/ext/string"

require "<%= underscored_name %>/autoloader"
<%= project_class_name %>::Autoloader.setup

module <%= project_class_name %>
  class Error < StandardError; end
end
